
.login{
    color: --dan-color-primary;
    background: scroll;

}
.size-logo img{
    max-width:  100px;
    margin: 0 auto;
    display: block;
    color: --dan-color-secundary;
}
ion-content {
    background-color: magenta;
    
  }