<ion-content class="login">
  <div class="login">
  <div class="title">
  <ion-text class="ion-text-center">
    <h4>LOGIN</h4>
  </ion-text>
  <figure class="size-logo">
    <img src="./assets/logo.png"/>
  </figure>
</div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <div class="email">
    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>    
  <div class="ion-text-right">
  <ng-container *ngFor="let validation of validation_message.email">   
    <div *ngIf="
    loginForm.get('email')?.hasError(validation.type) && 
    (loginForm.get('email')?.dirty || 
    loginForm.get('email')?.touched)
    ">
      {{validation.message}}
  </div>
  </ng-container>
</div>
</div>
  <div class="pass">
  <ion-item fill="solid">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input formControlName="password"></ion-input>
  </ion-item>
  <div class="ion-text-right">
    <ng-container *ngFor="let validation of validation_message.password">
     
      <div *ngIf="
      loginForm.get('password')?.hasError(validation.type) && 
      (loginForm.get('password')?.dirty || 
      loginForm.get('password')?.touched)
      ">
        {{validation.message}}
    </div>
    </ng-container>
  </div>
</div>


<ion-button 
shape="round"
color="warning"
[disabled]="!loginForm.valid"
type="submit">
  Login
</ion-button>


  </form>

  <ion-button 
  shape="round"
  color="warning"
  type="submit"
  (click)="goToRegister()"
  class="button-1">
    Registrarse
  </ion-button>
{{errorMessage}}
</div>
</ion-content>