ion-content{
    --background: var(--ion-color-dark);
}
.cover {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}
ion-list{    
    background: var(--ion-color-dark);
    margin: 5px 15px 0px 15px;
    color: white;
}
ion-list > ion-item{    
    --background: var(--ion-color-dark);
    color: white;
}