ion-content{
    --background: var(--ion-color-dark);
}

.cover {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}
ion-content{
    --background: var(--ion-color-dark);
}
ion-list{   
    background: var(--ion-color-dark);
    height: auto;
}
ion-row{
    margin: 0px 20px 0px 20px;
}
ion-col{
    width: 500px;
    height: auto;
    border-radius: 0%;
}
ion-avatar > img {    
    width:auto;
    height: auto;
    border-radius: 0px;
}
p{
    color: white;
    font-size: 15px;
    margin: 0px 5px 0px 10px;
    margin: 0px 20px 0px 20px;

}