<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" (click)="closeModal()">
        <ion-button >Volver</ion-button>
      </ion-buttons>
    <div class="ion-text-center">
      <ion-title>{{author.name}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-content">
    <ion-list padding *ngFor="let book of books" (click)="showBook(book)">
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img src="{{book.cover}}"/>
          </ion-avatar>        
        </ion-col>
        <ion-col size="9">
            <p>Titulo:    {{book.name}}</p>
            <p>Genero:    {{book.genres}}</p>   
            <p>Publicado: {{book.published_date}}</p>   
            <p>Editorial: {{book.editorial}}</p>            
        </ion-col>
      </ion-row>
</ion-list>
</div>
</ion-content>
